.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
}

footer {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 27dvw;
    position: fixed;
    margin-top: 28rem;
}

footer .social {
    display: flex;
    font-size: 30px;
}

footer h4, footer p {
    font-size: 12px;
}

footer .social a {
    margin-left: 0.6em;
    color: #333;
}

footer .social a:hover {
    color: #007bff;
}
